.headline{
    color: rgb(167, 55, 55);
}
.products-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}
.customer-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}